<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045853520073-kovvclt0i6vso5v8v6s3iat61h08t2u8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045853520073-kovvclt0i6vso5v8v6s3iat61h08t2u8</string>
	<key>API_KEY</key>
	<string>AIzaSyAYhiXHPK7TKipBKoJ5R3oCr9agAsQPeqY</string>
	<key>GCM_SENDER_ID</key>
	<string>1045853520073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mosigaUsers</string>
	<key>PROJECT_ID</key>
	<string>mosiga-82a19</string>
	<key>STORAGE_BUCKET</key>
	<string>mosiga-82a19.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045853520073:ios:fef0b7ee4b5307f6474d18</string>
	<key>DATABASE_URL</key>
	<string>https://mosiga-82a19-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>